* {padding:0px;
margin:0px;
text-align:center;}

#top_nav {  width:90%;
			margin:auto;}

div{
		float: left;
		height:200px;
		width:200px;
		margin:3px;	 	
		border-radius:20px;
		font-family: Tahoma;
		line-height:200px;
		color:white;
		box-shadow: 10px 10px 5px grey;
		text-shadow:3px 3px black;
	}

